<p>
    Dear Web Member,<br>
    <br>
    You have been granted access to the new Web extranet, where you can find exclusive Web statistics.<br>
    <br>
    Then you can log in with your new password and your login {{ login }} and your password {{ password }}<br>
    <br>
    Any questions please contact us at <a href="mailto:info@web.org">info@web.org</a>.<br>
    <br>
    Thank you,<br>
    <br>
    The Web Team<br>
    <img src="{{src_logo}}" title="Web logo" alt="Web logo" style="width: 100px; margin-left: 20px">
</p>